body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;

}

h1 {
    font-size: 50px;

}

.orange {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 50px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    margin-top: 50px;
    width: 80%;
}

.link-button {
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;
    background-image: linear-gradient(orange, tomato);


}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-iteam {
    width: 40%;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;

}

h2 {
    font-size: 40px;

}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

#id1 {
    border-left: 7px solid orange;

}

#id2 {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}

p {
    text-align: justify;
}

.padding {
    padding-right: 40px;
}